.body {
    background-image: url("../images/background/Privacy_Policy.jpg");
    background-size: cover;
}

.rectangle {
    width: 1400px;
    height: 780px;
    background: rgba(var(--header), 0.8);
    margin: 100px auto auto auto;
    border-radius: 25px;
}

.pp-text {
    color: rgb(var(--text));
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 50px;
}
